<div id="dbp_table">
    <form id="dbp_form" hx-get="/damage_by_power" hx-target="#dbp_table">
        <button id="merge_rows" type="submit" name="action" value="Merge">Merge Rows</button>
        <button id="delete_rows" type="submit" name="action" value="Delete">Delete Rows</button>
        <button id="delete_non_damage" hx-get="/damage_by_power?action=RemoveNonDamaging" hx-target="#dbp_table">Remove Non Damaging Powers</button>
        <button id="revert" hx-get="/damage_by_power?action=Revert" hx-target="#dbp_table">Revert Changes</button>
        Mob Level: <select name="mob_level" hx-get="/damage_by_power" hx-target="#dbp_table">
            {% for l in mob_levels %}
              {% if mob_level == l.level %}
                <option value="{{l.level}}" selected>level: {{l.level}} - HP: {{l.hp}}</option>
              {% else %}
                <option value="{{l.level}}">level: {{l.level}} - HP: {{l.hp}}</option>
              {% endif %}
            {% endfor %}
          </optgroup>
        </select>
        <table title="Damage By Power" style="width: 100%;">
            <thead>
              {% for c in headers %}
                  <th hx-get="/damage_by_power?sort_field={{c.0}}&sort_dir={{sort_dir}}" hx-target="#dbp_table">{{c.1}}</th>
              {% endfor %}
            </thead>
            <tbody>
                {% for row in table_rows %}
                  <tr>
                    <td><input class="pam-checkbox" form="dbp_form" type="checkbox" id="row_{{loop.index0}}" name="power_row[{{loop.index0}}]" value="{{loop.index0}}"></td>
                    <td>{{row.power_name | replace(from=":", to=":<br>") | replace(from=",", to="<br><br>")}}</td>
                    <td>{{row.activations}}</td>
                    <td>{{row.hits}} ({{row.streak_breakers}})</td>
                    <td>{{row.misses}}</td>
                    <td>{{row.hit_percentage}}</td>
                    <td>{{row.total_damage}}</td>
                    <td>{{row.total_damage_percent}}</td>
                    <td>{{row.dpa}}</td>
                    <td>{{row.dph}}</td>
                    <td>{{row.overkill}}</td>
                    <td>{{row.ate}}</td>
                    <td>{{row.direct_damage}}</td>
                    <td>{{row.dot_damage}}</td>
                    <td>{{row.critical_damage}}</td>
                    <td>{{row.critical_hits}}</td>
                    <td>{{row.percent_hits_critical}}</td>
                    <td>{{row.percent_damage_critical}}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
   </form>
<a id="ate1"><sup>1</sup>For psuedo pets that do two types of damage. This value needs to be divided by two. Example:
    Electrical Melee: Lightning Rod</a>
<br>
<a id="ate2"><sup>2</sup>Incarnate Judgements can exceed the target cap of 16</a>
</div>