<html>

<head>
  <link rel="stylesheet" href="/resources/cyclops.css">
  <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.js" integrity="sha384-gpIh5aLQ0qmX8kZdyhsd6jA24uKLkqIr1WAGtantR4KsS97l/NRBvh8/8OYGThAf" crossorigin="anonymous"></script>
</head>
<body>
    <h2>Cyclops Summaries (v1.1):</h2>
    <div class="container index-container">
    <div class="div-half div-border">
    <form hx-get="parse_request" hx-target="#status-div">
        <label for="path">Choose a directory:</label><br>
        <select name="log_path" id="log_path">
            <optgroup label="Existing Log Directories">
                {% for p in log_dirs %}
                <option value="{{p}}">{{p}}</option>
                {% endfor %}
            </optgroup>
        </select>
        <br>
        <button type="submit" name="action" value="EntireDir">Parse Directory</button>
        <button type="submit" name="action" value="LatestFile">Parse Newest File In Directory</button>
    </form>
    <form hx-get="parse_request" hx-target="#status-div">
        <label>Input the full path for a log file or directory (Use Control+Shift+C for full path):</label><br>
        <input type="text" name="log_path" id="log_path" size="50"><br>
        <button type="submit" name="action" value="Directory">Parse File</button>
        <button type="submit" name="action" value="SingleFile">Parse Directory</button>
    </form>
    </div>
    <div id="status-div" class="div-half div-border status-div">
        <label class="status-label" for="index-status">Status:</label>
        <textarea readonly id="index-status" class="status-textbox" columns="100" rows="10"></textarea>
    </div>
    </div>
    <div class="div-border">
    <div id="search-div" class="search-container">
    <label>Search:</label>
    <input class="search-control" type="search" 
       name="index-search" placeholder="Begin Typing To Search Player Names..." 
       hx-post="/index-search" 
       hx-trigger="input changed delay:500ms, search" 
       hx-target="#index-table" 
       hx-indicator=".htmx-indicator">
    </div>
    <div id="index-table">
    <table title="summaries" style="width: 100%;">
        <thead>
            <th>Log Date</th>
            <th>Players</th>
            <th>Data Points</th>
            <th>Source File</th>
        </thead>
        <tbody id="summary-table" hx-get="/index_table" hx-target="#summary-table" hx-trigger="load, newSummary from:body">
        </tbody>
        </table>
        </div>
    </div>
</body>
</html>