<html>

<head>
    <link rel="stylesheet" href="/resources/cyclops.css">
    <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.js"
        integrity="sha384-gpIh5aLQ0qmX8kZdyhsd6jA24uKLkqIr1WAGtantR4KsS97l/NRBvh8/8OYGThAf"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-class-tools@2.0.0/class-tools.js"></script>
    <script type="text/javascript" src="/resources/cyclops.js"></script>
    <title>Monitoring Configuration</title>
</head>

<body>
    <h2>Monitor Configuration</h2>
    <div class="container index-container">
        <div id="profiles" hx-get="/load_profiles" hx-target="profile-config" hx-trigger="load, newProfile from:body"
            class="div-border">
            <label>Profiles:</label>
            <div id="player" hx-get="/load_player_summaries" hx-target="this" hx-trigger="load" class="div-border">
                <label>Player:</label>
            </div>
            <div id="powers" hx-get="/load_player_powers" hx-target="this" class="div-border"></div>
            <label>Player:</label>
        </div>
        <div id="profile-config" hx-get="/save_profile" hx-target="this" class="div-border"></div>
        <label>Player:</label>
    </div>
    </div>
</body>

</html>