<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <script>
        function percent_as_string(numerator, denominator) {
            var percent = (numerator / denominator * 100).toFixed(0);
            if (percent == 0 || isNaN(percent) || !isFinite(percent)) {
                return "";
            } else {
                return percent + '%';
            }
        }
    </script>
</head>

<body>
    <h3>Name: {{report.player_name}}</h3>
    <h3>File: {{data_file_name}}</h3>
    <h3>Start Date: {{report.start_date}}</h3>
    <h3>Starting Line Number: {{report.line_number}}</h3>
    <h3>Attack Summary</h3>
    <table title="Attack Summary">
        <th onclick="sortTable(0)">Total Attacks</th>
        <th onclick="sortTable(0)">Total Hits (Streakbreaker)</th>
        <th onclick="sortTable(0)">Total Misses</th>
        <th onclick="sortTable(0)">Total Damage</th>
        <th onclick="sortTable(1)">Direct Damage</th>
        <th onclick="sortTable(2)">DoT Damage</th>
        <th onclick="sortTable(3)">Critical Hits</th>
        <th onclick="sortTable(4)">Critical Hit Percentage</th>
        <th onclick="sortTable(5)">Critical Damage</th>
        <th onclick="sortTable(6)">Critical Damage Percentage</th>
        <tr>
            <td>{{ report.total_activations }}</td>
            <td>{{ report.total_hits }} ({{report.total_streakbreaker_hits}})</td>
            <td>{{ report.total_misses }}</td>
            <td>{{ report.total_damage }}</td>
            <td>{{ report.total_direct_damage }}</td>
            <td>{{ report.total_dot_damage }}</td>
            <td>{{ report.total_critical_hits }}</td>
            <td>
                <script>
                    document.write(percent_as_string({{ report.total_critical_hits }}, {{ report.total_hits }}))
                </script>
            </td>
            <td>{{ report.total_critical_damage }}</td>
            <td>
                <script>
                    document.write(percent_as_string({{ report.total_critical_damage }}, {{ report.total_damage }}))
                </script>
            </td>
        </tr>
    </table>
    <h2>Attack Summary By Power</h2>
    <table title="Attack Summary By Power">
        <th onclick="sortTable(0)">Attack</th>
        <th onclick="sortTable(0)">Activations</th>
        <th onclick="sortTable(0)">Hits (Streakbreaker)</th>
        <th onclick="sortTable(0)">Misses</th>
        <th onclick="sortTable(0)">Percentage Hit</th>
        <th onclick="sortTable(0)">Total Damage</th>
        <th onclick="sortTable(0)">Total Damage Percentage</th>
        <th onclick="sortTable(0)">Direct Damage</th>
        <th onclick="sortTable(0)">DoT Damage</th>
        <th onclick="sortTable(0)">Critical Hits</th>
        <th onclick="sortTable(0)">Critical Hits Percentage</th>
        <th onclick="sortTable(0)">Critical Damage</th>
        <th onclick="sortTable(0)">Critical Damage Percentage</th>
        {% for power in powers %}
        {% set critical_percentage = (power.critical_hits/power.hits) * 100 %}
        {% set critical_damage_percentage = (power.critical_damage/power.total_damage) * 100 %}
        <tr>
            <td>{{ power.name }}</td>
            <td>{{ power.activations }}</td>
            <td>{{ power.hits }} ({{power.streakbreaker_hits}})</td>
            <td>{{ power.misses }}</td>
            <td>
                {% set hit_miss_total = power.hits + power.misses %}
                <script>
                    document.write(percent_as_string({{ power.hits }}, {{ hit_miss_total }}));
                </script>
            </td>
            <td>{{ power.total_damage }}</td>
            <td>
                <script>
                    document.write(percent_as_string({{ power.total_damage }}, {{ report.total_damage }}));
                </script>
            </td>
            <td>{{ power.direct_damage }}</td>
            <td>{{ power.dot_damage }}</td>
            <td>{{ power.critical_hits }}</td>
            <td>
                <script>
                    document.write(percent_as_string({{ power.critical_hits }}, {{ power.hits }}));
                </script>
            </td>
            <td>{{ power.critical_damage }}</td>
            <td>
                <script>
                    document.write(percent_as_string({{ power.critical_damage }}, {{ power.total_damage }}));
                </script>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h2>DPS using an interval of {{ dps_interval}} </h2>
    <table title="DPS Report" style="width: 50%;">
        <th onclick="sortTable(0)">Total lines with damage</th>
        <th onclick="sortTable(0)">Elapsed Seconds</th>
        <th onclick="sortTable(0)">Total Damage</th>
        <th onclick="sortTable(0)">DPS</th>
        {% for row in dps_reports %}
        <tr>
            {% for data in row %}
            <td>{{ data }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <h2>Number of targets effected by power (experimental)</h2>
    <table title="Targets Effected" style="width: 50%;">
        <th onclick="sortTable(0)">Power</th>
        <th onclick="sortTable(0)">Activations</th>
        <th onclick="sortTable(0)">Max targets hit</th>
        <th onclick="sortTable(0)">Min targets hit</th>
        <th onclick="sortTable(0)">Average</th>
        <th onclick="sortTable(0)">Median</th>
        <th onclick="sortTable(0)">Mode</th>
        {% for eff in targets_effected %}
        <tr>
            <td>{{ eff.power_name }}</td>
            <td>{{ eff.activations }}</td>
            <td>{{ eff.max_hits }}</td>
            <td>{{ eff.min_hits }}</td>
            <td>
                <script>
                    var average = {{ eff.average_hits }};
                    document.write(average.toFixed(2));
                </script>
            </td>
            <td>{{ eff.median }}</td>
            <td>{{ eff.mode }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>