<h3>Name: {{summary.player_name}}</h3>
<h3>Start Date: {{summary.log_date | date(format="%Y-%m-%d %H:%M:%S")}}</h3>
<h3>Starting Line Number: {{summary.first_line_number}}</h3>
<h3>Last Line Number: {{summary.last_line_number}}</h3>
<hr>
<h3>Rewards-Mobs Defeated</h3>
<table title="Session details" style="width:50%">
    <th>Experience</th>
    <th>Influence</th>
    <th>Mobs defeated</th>
    <tr>
        <td>{{ rewards_defeats.experience }}</td>
        <td>{{ rewards_defeats.influence }}</td>
        <td>{{ rewards_defeats.mobs_defeated }}</td>
    </tr>
</table>
<hr>

<h3>Attack Summary</h3>
<table title="Attack Summary">
    <th>Total Attacks</th>
    <th>Total Hits (Streakbreakers)</th>
    <th>Total Misses</th>
    <th>Total Damage</th>
    <th>Direct Damage</th>
    <th>DoT Damage</th>
    <th>Critical Damage</th>
    <th>Critical Hits</th>
    <th>Critical Hit Percentage</th>
    <th>Critical Damage Percentage</th>
    <tr>
        <td>{{ total_damage.activations }}</td>
        <td>{{ total_damage.hits }} ({{total_damage.streak_breakers}})</td>
        <td>{{ total_damage.misses }}</td>
        <td>{{ total_damage.total_damage }}</td>
        <td>{{ total_damage.direct_damage }}</td>
        <td>{{ total_damage.dot_damage }}</td>
        <td>{{ total_damage.critical_damage }}</td>
        <td>{{ total_damage.critical_hits }}</td>
        <td>{{total_damage.critical_hit_percentage}} </td>
        <td>{{total_damage.critical_damage_percentage}} </td>
    </tr>
</table>
<hr>
<h2>Attack Summary By Power</h2>
<div>
    <button id="reactivity_merge_{{index}}">Merge Rows</button>
    <button id="reactivity_delete_{{index}}">Delete Rows</button>
    <button id="reactivity_remove_non_{{index}}">Remove Non Damage Powers</button>
    <button id="reactivity_revert_{{index}}">Revert Changes</button>
</div>

<div id="{{index}}_div"></div>
<a id="ate1"><sup>1</sup>For psuedo pets that do two types of damage. This value needs to be divided by two. Example:
    Electrical Melee: Lightning Rod</a>
<br>
<a id="ate2"><sup>2</sup>Incarnate Judgements can exceed the target cap of 16</a>
<script>
    //define data
    var tabledata_base_{{index}} = [
        {% for power in powers %}
    {
        power: "{{ power.power_name }}",
            activations: "{{ power.activations }}",
                hits: "{{ power.hits }} ({{power.streak_breakers}})",
                    misses: "{{ power.misses }}",
                        hit_percentage: "{{ power.hit_percentage }}",
                            total_damage: "{{ power.power_total_damage }}",
                                total_damage_percent: "{{ calc_percentage(numerator = power.power_total_damage, denominator = total_damage.total_damage) }}",
                                    dpa: "{{ power.dpa }}",
                                        ate: "{{ power.ate }}",
                                            direct_damage: "{{ power.direct_damage }}",
                                                dot_damage: "{{ power.dot_damage }}",
                                                    critical_damage: "{{ power.critical_damage }}",
                                                        critical_hits: "{{ power.critical_hits }}",
                                                            percent_hits_critical: "{{ power.percent_hits_critical }}",
                                                                percent_damage_critical: "{{ power.percent_damage_critical }}",
                                                                    },
    {% endfor %}
    ];

    var tabledata_{{index}} = Array.from(tabledata_base_{{index}});
    //Build Tabulator
    var table_{{index}} = new Tabulator("#{{index}}_div", {
        height: "100%",
        layout: "fitDataStretch",
        reactiveData: true, //turn on data reactivity
        selectable: true,
        movableColumns: true,
        movableRows: true,
        data: tabledata_{{index}}, //load data into table
        columns: [
            { title: "Power", field: "power", sorter: "string", formatter: "html" },
            { title: "Activations", field: "activations", sorter: "number" },
            { title: "Hits<br>(Streakbreakers)", field: "hits", sorter: "number", formatter: "html" },
            { title: "Misses", field: "misses", sorter: "number" },
            { title: "Hit<br>Percentage", field: "hit_percentage", sorter: "number", formatter: "html" },
            { title: "Total<br>Damage", field: "total_damage", sorter: "number" },
            { title: "Total<br>Damage<br>%", field: "total_damage_percent", sorter: "number" },
            { title: "Damage<br>Per<br>Activation", field: "dpa", sorter: "number", formatter: "html" },
            { title: "Average<br>Targets<br>Effected<a href=\"#ate1\"><sup>1</sup></a><a href=\"#ate2\"><sup>2</sup></a>", field: "ate", sorter: "number", formatter: "html" },
            { title: "Direct<br>Damage", field: "direct_damage", sorter: "number" },
            { title: "DoT<br>Damage", field: "dot_damage", sorter: "number" },
            { title: "Critcal<br>Damage", field: "critical_damage", sorter: "number" },
            { title: "Critical<br>Hits", field: "critical_hits", sorter: "number" },
            { title: "%<br>Hits<br>Critical", field: "percent_hits_critical", sorter: "number" },
            { title: "%<br>Damage<br>Critical", field: "percent_damage_critical", sorter: "number" },
        ],
    });

    document.getElementById("reactivity_remove_non_{{index}}").addEventListener("click", function () {
        console.log("remove non damaging powers fired");
        var temp = Array.from(tabledata_{{index}});
        for (r in tabledata_{{index}}) {
                var index = tabledata_{{index}}.findIndex((element) => element.total_damage === "0");
                console.log(index);
                temp.splice(index, 1);
        }
        tabledata_{{index}} = Array.from(temp);
        table_{{index}}.setData(tabledata_{{index}});
    });

    document.getElementById("reactivity_revert_{{index}}").addEventListener("click", function () {
        console.log("revert fired");
        tabledata_{{index}} = Array.from(tabledata_base_{{index}});
        table_{{index}}.setData(tabledata_{{index}});
    });

    //delete selected rows
    document.getElementById("reactivity_delete_{{index}}").addEventListener("click", function () {
        console.log("delete fired");
        console.log(table_{{index}}.getSelectedData());
        var selected = table_{{index}}.getSelectedData();
        if (selected.length > 1) {
            var temp = Array.from(tabledata_{{index}});
            for (r of selected) {
                var index = temp.findIndex((element) => element.power === r.power);
                temp.splice(index, 1);
            }
            tabledata_{{index}} = temp;
            table_{{index}}.setData(temp);
        }
    });

    //merge selected rows into a new row, add to the top
    document.getElementById("reactivity_merge_{{index}}").addEventListener("click", function () {
        console.log("merge fired");
        console.log(table_{{index}}.getSelectedData());
        var selected = table_{{index}}.getSelectedData();
        if (selected.length > 1) {
            var temp = Array.from(tabledata_{{index}});
            var new_row = {
                power: "",
                activations: 0,
                hits: "",
                misses: 0,
                hit_percentage: "",
                total_damage: 0,
                total_damage_percent: 0,
                dpa: "",
                ate: "",
                direct_damage: 0,
                dot_damage: 0,
                critical_damage: 0,
                critical_hits: 0,
                percent_hits_critical: 0,
                percent_damage_critical: 0,
            };

            for (r of selected) {
                new_row.power += r.power + '<br>';
                new_row.activations += Number(r.activations);
                new_row.hits += r.hits + '<br>';
                new_row.misses += Number(r.misses);
                new_row.hit_percentage += r.hit_percentage + '<br>';
                new_row.total_damage += Number(r.total_damage);
                new_row.total_damage_percent += Number(r.total_damage_percent);
                new_row.dpa += r.dpa + '<br>';
                new_row.ate += r.ate + '<br>';
                new_row.direct_damage += Number(r.direct_damage);
                new_row.dot_damage += Number(r.dot_damage);
                new_row.critical_damage += Number(r.critical_damage);
                new_row.critical_hits += Number(r.critical_hits);
                new_row.percent_hits_critical += Number(r.percent_hits_critical);
                new_row.percent_damage_critical += Number(r.percent_damage_critical);
                var index = temp.findIndex((element) => element.power === r.power);
                temp.splice(index, 1);
            }
            new_row.power = new_row.power.substring(0, new_row.power.length - 4);
            new_row.hits = new_row.hits.substring(0, new_row.hits.length - 4);
            new_row.hit_percentage = new_row.hit_percentage.substring(0, new_row.hit_percentage.length - 4);
            new_row.dpa = new_row.dpa.substring(0, new_row.dpa.length - 4);
            new_row.ate = new_row.ate.substring(0, new_row.ate.length - 4);
            temp.unshift(new_row);
            tabledata_{{index}} = temp;
            table_{{index}}.setData(temp);
        }
    });

</script>
<hr>
<h2>DPS using an interval of {{ dps_interval}} </h2>
<table title="DPS Report" style="width: 50%;" class="sortable-table">
    <thead>
        <th class="numeric-sort">Starting Line</th>
        <th class="numeric-sort">Ending Line</th>
        <th class="numeric-sort">Total lines with damage</th>
        <th class="numeric-sort">Elapsed Seconds</th>
        <th class="numeric-sort">Total Damage</th>
        <th class="numeric-sort">DPS</th>
    </thead>
    <tbody>
        {% for row in dps_reports %}
        <tr>
            {% for data in row %}
            <td>{{ data }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>